src/dtd/customer.dtd

<!-- customer -->
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>

<!ELEMENT customer (id, firstname, lastname, rewards_account*)>

<!-- Rewards_Account -->
<!ELEMENT account_number (#PCDATA)>
<!ELEMENT name_on_account (#PCDATA)>
<!ELEMENT total_points (#PCDATA)>

<!ELEMENT rewards_account (account_number, name_on_account, total_points)>