src/dtd/supplier.dtd

<!-- "import" store dtd -->
<!ENTITY % store_element SYSTEM "store.dtd">
%store_element;

<!-- Supplier Contract -->
<!ELEMENT start_date (#PCDATA)>
<!ELEMENT end_date (#PCDATA)>
<!ELEMENT details (#PCDATA)>
<!ELEMENT contract (start_date, end_date, details)>

<!-- Supplier -->
<!ELEMENT name (#PCDATA)>
<!ELEMENT supplier (name, address, contract)>
