src/dtd/supplier.dtd

<!-- Address -->
<!ELEMENT country (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT zip (#PCDATA)>
<!ELEMENT address (country, state, city, street, zip)>

<!-- Supplier Contract -->
<!ELEMENT start_date (#PCDATA)>
<!ELEMENT end_date (#PCDATA)>
<!ELEMENT details (#PCDATA)>
<!ELEMENT contract (start_date, end_date, details)>

<!-- Supplier -->
<!ELEMENT name (#PCDATA)>
<!ELEMENT supplier (name, address, contract)>
